* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.container {
    margin: 4rem;
}

.garden {
    background-image: url("assets/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120rem;
    height: 80rem;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12rem;
}

.moles-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 2.1rem;
  }
  
  .grid-item {
    padding: 6rem 8rem;
    margin: 4rem;
    background-image: url("assets/mole6.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .grid-item:hover {
    animation-name: show-mole;
    animation-duration: .6s;   
  }


 /* The animation code */
@keyframes show-mole {
    0%   {background-image: url("assets/mole6.svg");}
    20%  {background-image: url("assets/mole5.svg");}
    40%  {background-image: url("assets/mole4.svg");}
    60%  {background-image: url("assets/mole3.svg");}
    80%  {background-image: url("assets/mole2.svg");}
    100% {background-image: url("assets/mole1.svg");}
  }